    <!-- <div class="container">
        <div class="d-flex"> -->
            <!-- <div>
                <a class="navbar-brand" href="#">
                  <img src="/assets/livspace-new-logo-1651660705-3hLxV.avif" alt="" width="30" height="24">
                </a>
            </div> -->

            <div class=" bg-white">
                
                <ul class="progressbar pt-3 container ">
                   <li [ngClass]="{'active': currentStep >= 1}">Kitchen Layout</li>
                   <li [ngClass]="{'active': currentStep >= 2}">Measurements</li>
                   <li [ngClass]="{'active': currentStep >= 3}">Package</li>
                   <li [ngClass]="{'active': currentStep >= 4}">Get Quote</li>
                 </ul>
                
            </div>

        <!-- </div>
    </div> -->
