.progress-bar{
  background-color: #5e455a;
}

.progress{
  background-color: #d5d5d5;
  width: 50.5vw;
  height: 3px;
}

.con{
  width: 50.5vw;
  position: relative;
}

.c2{
 left: 33.33%;
}
.c3{
 left: 66.66%;
}
.c4{
 left: 100%;
}

.c{
  padding: 10px;
  border: 5px solid #5e455a;
}