<!-- <div class="container">
    <h2>Select the layout of your kitchen</h2>
    <div class="layouts">
      <div class="layout" (click)="selectLayout('L-shaped')">
        <img src="assets/l-shaped.png" alt="L-shaped">
        <p>L-shaped</p>
      </div>
      <div class="layout" (click)="selectLayout('Straight')">
        <img src="assets/straight.png" alt="Straight">
        <p>Straight</p>
      </div>
      <div class="layout" (click)="selectLayout('U-shaped')">
        <img src="assets/u-shaped.png" alt="U-shaped">
        <p>U-shaped</p>
      </div>
      <div class="layout" (click)="selectLayout('Parallel')">
        <img src="assets/parallel.png" alt="Parallel">
        <p>Parallel</p>
      </div>
    </div>
    <button (click)="nextStep()" [disabled]="!layoutSelected">Next</button>
  </div>
   -->


      <div class="row justify-content-center">
        <div class="col-md-4 mb-4" *ngFor="let layout of layouts">
          <div class="card" [class.border-danger]="layout.selected" (click)="selectLayout(layout)">
            <div class="card-body">
              <img [src]="layout.image" class="img-fluid " [alt]="layout.name" width="100%">
              <h6 class="card-title text-center my-3">{{ layout.name }}</h6>
            </div>
          </div>
        </div>
      </div>

