

 

  img{
    border-radius: 8px 8px 0px 0px;

  }
  
  .card-body{
    padding: 0px;
    border-radius: 8px !important;
    font-size: 13px;
  
  }


  .card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }